spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/shortener
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration

app:
  security:
    jwt:
      secret: "F6AF1B3F56C04F9CF4576BB4AFA38CDC"
      ttl: 3600
